<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VIP Bitcoin Indonesia Price</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <style>
        #overlay-preloader {
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: #FFF;
            z-index: 9999;
            padding-top: 20vh;
        }
    
        #overlay-preloader h4 {
            max-width: 90%;
        }
    </style>
	<!-- vendors -->
	<link rel="stylesheet" href="vendors/f7/css/framework7.md.min.css">

    <link rel="stylesheet" media="screen" href="static/main.css" />
    
    <script src="vendors/f7/js/framework7.min.js"></script>
    <script src="vendors/angular/angular.min.js"></script>
</head>
<body class="color-theme-orange" ng-app="application">
    <div id="overlay-preloader">
        <center>
            <img id="nyandev-logo" src="static/nyandev.png"></img>
        </center>
        <div align="center" style="padding: 20px 0;">
            <h4>Loading..</h4>
            <button class="button button-fill" style="display: none;">Try Again</button>
        </div>
    </div>
	<div id="app" ng-controller="ngController">
		<!-- Status bar overlay for fullscreen mode-->
		<div class="statusbar"></div>

        <div class="page" data-name="home">
            <!-- Top Navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="title sliding">Real Time Prices</div>
                    <div class="right">
                        <a href="" class="link icon-only" ng-click="toggleTheme()">
                            <i class="material-icons">palette</i>
                        </a>
                        <a href="" class="link icon-only" ng-click="openVoucherDialog()">
                            <i class="material-icons">notifications_active</i>
                        </a>
                        <a href="" class="link icon-only" ng-click="openFilterDialog()">
                            <i class="material-icons">filter_list</i>
                        </a>
                    </div>
                </div>
            </div>
        
            <!-- Scrollable page content-->
            <div class="page-content">
                <div class="data-table card">
                    <table>
                        <thead>
                            <th>Market</th>
                            <th>Price</th>
                            <th>Volume</th>
                            <th>Change</th>
                        </thead>
                        <tbody>
                            <tr class="price-item" ng-repeat="price in prices | stringToInteger:'change' | orderBy:'-change' | stringToInteger:'change'" ng-class="{'up': (price.isGoodChange == 'up'), 'down': (price.isGoodChange == 'down')}">
                                <td class="label-cell text-align-left">
                                    <b>{{ price.market }}</b>
                                </td>
                                <td class="label-cell text-align-left">{{ price.price }}</td>
                                <td class="label-cell text-align-left">{{ price.volume }}</td>
                                <td class="label-cell text-align-left text-color-red" ng-class="{'text-color-green': price.isGood}">
                                    <span>
                                        <i class="material-icons small">
                                            {{ price.icon }}</i> {{ price.tempFilter }} %
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		
		<!-- Popup -->
		<div class="popup" id="my-filter-dialog">
			<div class="view">
				<div class="page">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="title">Filter</div>
							<div class="right">
								<a href="#" class="link icon-only popup-close">
									<i class="material-icons">close</i>
								</a>
							</div>
						</div>
					</div>
					<div class="page-content">
						<div class="block">
							<p>Filter Market Exchanger.</p>
							<p class="segmented segmented-raised">
								<button class="button"
									ng-class="{'button-active': (filter.isRupiah && filter.isBitcoin)}"
									ng-click="onFilterChange(true, true)">ALL</button>
								<button class="button"
									ng-class="{'button-active': (filter.isRupiah && !filter.isBitcoin)}"
									ng-click="onFilterChange(true, false)">IDR</button>
								<button class="button"
									ng-class="{'button-active': (!filter.isRupiah && filter.isBitcoin)}"
									ng-click="onFilterChange(false, true)">BTC</button>
                            </p>
						</div>
					</div>
				</div>
			</div>
        </div>
        <!-- Popup -->
        <div class="popup" id="my-vouchers-dialog">
            <div class="view">
                <div class="page">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="title">Vouchers</div>
                            <div class="right">
                                <a href="#" class="link icon-only popup-close">
                                    <i class="material-icons">close</i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="page-content">
                        <div class="card">
                            <div class="card-header">
                                <div>Vouchers</div>
                            </div>
                            <div class="card-content">
                                <div class="accordion-list">
                                    <div class="voucher-item accordion-item content-block" ng-repeat="voucher in vouchers">
                                        <a href="#" class="item-content item-link">
                                            <div class="item-inner">
                                                <div class="row big-font">
                                                    <div class="col">
                                                        <b>ID#{{voucher.id}}</b>
                                                    </div>
                                                    <div class="col" align="right">
                                                        <span class="text-color-green">
                                                            <b>Rp. {{ voucher.value }}</b>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span class="badge" ng-class="{'bg-color-orange': !voucher.isUsed, 'bg-color-green': voucher.isUsed}">{{ voucher.status }}</span>
                                                <div class="date-time">
                                                    <i class="material-icons small">date_range</i> {{ voucher.onSubmit }}
                                                </div>
                                            </div>
                                        </a>
                                        <div class="accordion-item-content">
                                            <div>
                                                <div class="subtitle">Voucher</div>
                                                <span>{{ voucher.voucher }}</span>
                                            </div>
                                            <div>
                                                <div class="subtitle">Catatan</div>
                                                <span>{{ voucher.note }}</span>
                                            </div>
                                            <div>
                                                <div class="subtitle">Di Pakai</div>
                                                <span>{{ voucher.usedBy }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<!-- hybrid engine -->
	<script src="cordova.js"></script>
    <!-- vendors -->
    <script type="text/javascript">
        window.onerror = function (msg, url, line, col, error) {
            // Note that col & error are new to the HTML 5 spec and may not be 
            // supported in every browser.  It worked for me in Chrome.
            var extra = !col ? '' : '\ncolumn: ' + col;
            extra += !error ? '' : '\nerror: ' + error;
            // You can view the information in an alert to see things working like this:
            alert("Error: " + msg + "\nurl: " + url + "\nline: " + line + extra);
            // TODO: Report this error via ajax so you can keep track
            //       of what pages have JS issues
            var suppressErrorAlert = true;
            // If you return true, then error alerts (like in older versions of 
            // Internet Explorer) will be suppressed.
            return suppressErrorAlert;
        };
    </script>
    <script src="vendors/f7/js/framework7.plugin.min.js"></script>
    <script src="vendors/nyanStorage/nyanStorage.min.js"></script>
    <script src="vendors/pusher/pusher.min.js"></script>
    
    <script defer src="static/main.min.js"></script>
</body>
</html>